<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>404</title>
		<style>
			.nothing{
				padding-top:100px;
				text-align: center;
			}
			.nothing-box{
				position: relative;
    			display: inline-block;
			}
			.refresh{
				position: absolute;
    			top: 56%;
    			left: 1%;
			}
			.refresh img{
				margin: 0 25px;
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div class="nothing">
			<div class="nothing-box">
			<img src="../static/images/404_05.png" />
				<div class="refresh">
					<a href="http://oa.qiein.com/hm-crm"><img src="../static/images/404_19.png" /></a>
					<a onclick="window.location.reload()"><img src="../static/images/404btn_17.png" /></a>
				</div>
			</div>
		</div>
	</body>
</html>