<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link href="./static/beidou3/css/login.css" rel="stylesheet" />
	</head>
	<body>
		<div class="login_top">
			<div class="login_logo fl">
				<img src="./static/images/logo_03.png" />
			</div>
			<div class="login_title fl">
				<p>清莹CRM登录页面</p>
			</div>
		</div>
		<!--登录框-->
		<div class="main_login">
			<div class="info">
				<!--登录框左边部分-->
				<div class="info_left fl">
					<div class="login_pic">
						<img src="./static/images/login_01.png" />
					</div>
				</div>
				<!--登录框右边部分-->
				<div class="info_right fl">
					<div class="info_right_title">
						<h3>清莹CRM员工登录</h3>
						<div class="prompt">
<!-- 							<p class="prompt_p">请输入手机号!</p> -->
						</div>
					</div>
					<div class="info_right_login">
						<div class="form-group">
							<label><img src="./static/images/user_05_04.png">账号：</label>
							<input type="text" class="form-control inputUsername" name="inputUsername" placeholder="请输入您的账号"/>
						</div>
						<div class="form-group">
							<label><img src="./static/images/pwd6_07.png">密码：</label>
							<input type="password" class="form-control inputpassword" name="inputPassword" placeholder="请输入您的密码"/>
						</div>
						<div class="form-group">
							<input type="text" class="form-control code" id="code" />
							<img class="show_code" id="imgObj" src="./code" />
							<a href="javascript:changeImg()" style="line-height: 65px;color: #2db7f5;">看不清</a>
						</div>
						<div class="form-group">
							<span class="login_btn btn_login">立即登录</span>
						</div>
						<div class="register"> 
                        	<a href="#"><span class="pwd fl">忘记密码了</span></a> 
                        	<a href="#"><span class="reg fr">免费注册账号&gt;&gt;</span></a> 
 	                    </div>
 	                    <div class="serves">
                        	<i style="margin-right: 10px;"><img src="./static/images/jiemian_04.png"></i>
                        	<span>阿里巴巴</span><span>提供全方位安全保障</span>          
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!--尾部-->
		<div class="comp_info">
            <p>2017 © 清莹网® qiein.com All rights reserved. Version v1.0  京ICP</p>
        </div>
        <div><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260959706'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260959706%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>
       <script type="text/javascript" src="./static/beidou3/js/plugin/jquery.min.js"></script>
		<script type="text/javascript" src="./static/beidou3/js/common/jquery-1.3.1.min.js"></script>
        <script type="text/javascript" src="./static/beidou3/js/login.js" ></script>
	</body>
</html>
